.copy_btn {
    cursor: pointer;
}

.dragula,
.dragula .input-group-prepend {
    cursor: grab;
}

.bar {
    height: 18px;
    background: #993399;
}

.byline {
    display: none;
}

#map {
    height: 400px;
    max-height: 100%;
}

#infowindow-content {
    display: none;
}

#map #infowindow-content {
    display: inline;
}

.dataTables_filter {
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

.dt-buttons {
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

.paging_simple_numbers {
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
}

.dataTables_info {
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
}

.dataTables_length {
    float: left;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.multi_drop {
    height: 400px;
    overflow-y: scroll;
}

.stat-row {
    display: flex;
    justify-content: space-between;
}

.popup-banner {
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    min-width: 30ch;
    max-width: 40ch;
    z-index: 9999;
}

.popup-banner .progress {
    height: 2px;
    background-color: red;
    width: 0%;
    position: absolute;
    top: 0;
    left: 0;
    transition: width 9s linear;
}

.thumb-preview {
	max-width: 80px;
	max-height: 60px;
	object-fit: contain;
}

.collapsable-scroll-min {
    overflow: auto;
    max-height: 400px;
    border: 1px solid #eee;
}

.table .thead-black th {
    background-color: #000;
    border-color: #000;
    color: #eee;
}
