:root {
  --overflow-height: 20rem;
}

.copy_btn {
  cursor: pointer;
}

.dragula,
.dragula .input-group-prepend {
  cursor: grab;
}

.bar {
  height: 18px;
  background: #993399;
}

.object_slug {
  font-weight: bold;
}

.byline {
  display: none;
}

.text-red {
  color: #ff3300;
}

.text-green {
  color: #009900;
}

.text-yellow {
  color: #eeaa00;
}

#map {
  height: 400px;
  max-height: 100%;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.dt-buttons {
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
}

.multi_drop {
  height: 400px;
  overflow-y: scroll;
}

.stat-row {
  display: flex;
  justify-content: space-between;
}

.popup-banner {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  min-width: 30ch;
  max-width: 40ch;
  z-index: 9999;
}

.popup-banner .progress {
  height: 2px;
  background-color: red;
  width: 0%;
  position: absolute;
  top: 0;
  left: 0;
  transition: width 9s linear;
}

.thumb-preview {
  max-width: 80px;
  max-height: 60px;
  object-fit: contain;
}

.collapsable-scroll-min {
  overflow: auto;
  max-height: 400px;
  border: 1px solid #eee;
}

.table .thead-black th {
  background-color: #000;
  border-color: #000;
  color: #eee;
}

.typeout-content a {
  color: #993399;
  text-decoration: underline !important;
}

#mysql_log > .container {
  max-height: var(--overflow-height);
}

.search_output pre {
  max-height: calc(1.5 * var(--overflow-height));
}

#search_output pre + button {
  display: none;
}

#search_output pre.clear-btn + button {
  display: unset;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield;
  /* Firefox */
}

pre {
  padding: 10px;
  margin: 10px;
}

.string,
.number {
  color: var(--primary);
}

.boolean {
  color: blue;
}

.null {
  color: gray;
}

.key {
  color: var(--secondary);
}

#analysisTable_wrapper label {
  margin-bottom: unset;
}

#analysisTable th {
  padding: 10px;
}

#analysisTable td {
  padding: 2.5px 5px 2.5px 5px;
}

table.dataTable tbody > tr.selected,
table.dataTable tbody > tr > .selected {
  background-color: #333;
}

table.dataTable tbody > tr > td {
  border-bottom: 1px solid var(--white);
}

table.dataTable tbody tr.selected,
table.dataTable tbody th.selected,
table.dataTable tbody td.selected {
  color: #fff;
}

table.dataTable tbody tr.selected a,
table.dataTable tbody th.selected a,
table.dataTable tbody td.selected a {
  color: #fff;
}

table.dataTable tbody > tr {
  font-size: 0.95em;
  font-weight: 300;
}

table.dataTable tbody tr {
  border-bottom: 1px solid #161616;
}

table.dataTable tbody tr td, table.dataTable tbody tr th, table.dataTable thead tr th {
  padding: 5px;
  border-right: 1px #ccc solid;
  position: relative;
}

table.dataTable thead tr th {
  font-size: 1rem;
  font-weight: 700;
  font-style: italic;
}

div.dataTables_wrapper div.dataTables_info {
  padding-top: 0.4em;
}

div.dataTables_wrapper div.dataTables_processing {
  top: 40%;
  z-index: 10;
}

.select-info {font-weight: bold; border: 2px solid #993399; margin-left: 10px;}

.dataTables_info, .dataTables_filter, .dataTables_length, .dataTables_paginate {
  display: flex;
  align-items: center;
  margin: 10px;
}

.dataTables_info {
  margin-left: 0;
}

.dataTables_info {
  padding-top: 0;
}

#top {
  border-top: 1px #ccc solid;
  padding-top: 7px;
}

#top label, #bottom1 label {
  margin: 0 !important;
}

#top, #bottom1 {
  font-size: 0.8rem;
  font-weight: 300;
  text-transform: uppercase;
  align-items: center;
  justify-content: space-between;
}

#top .custom-select-sm, #bottom1 .custom-select-sm {
  padding-top: 0;
}

#top .form-control-sm, #bottom1 .form-control-sm, div.dtsp-searchPane .input-group .form-control-sm {
  height: calc(1.2em + .5rem + 2px);
}

div.dtsp-searchPane .input-group .input-group-append {
  display: flex;
  border-left: #333 1px solid;
}
div.dtsp-panes {
  padding: 0;
  border: none;
  margin: 0;
  border-radius: 0;
}
div.dtsp-searchPanes {
  justify-content: space-between;
}
div.dtsp-searchPane div.dataTables_scrollBody {
  border: none;
  padding: 0;
  border-radius: 0;
}
div.dtsp-searchPane div.dataTables_scrollBody:hover {
  border-width: 0 !important;
}

div.dtsp-searchPane td.dtsp-nameColumn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3px 0 3px;
}

table.dataTable tbody tr td:first-child { cursor: pointer; padding-left: 3px !important; }

table.dataTable tbody tr td:first-child:hover {background: #333; color: #fff;}

span.text-ellipsis {
  line-height: 1.12;
  overflow: hidden;
  display: -webkit-inline-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

span.slug-ellipsis {
  line-height: 1;
  font-size: 0.7em;
  overflow: hidden;
  display: -webkit-inline-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  max-width: 300px;
}


.toast {
  z-index: 9999;
}

/**
 * css for types.php
 */
#edit-role input.borderless:not(:focus) {
  border-color: transparent !important;
}

.admin-toast.toast {
  bottom: 2rem;
  left: 1rem;
  right: 1rem;
}
